.header_logo__ {
  // min-width: 86px;
  max-width: 93px;
  min-width: 93px;
  display: block;
  z-index: 1;
  flex-basis: content;
  position: relative;
  
  @include sm {
    max-width: 73px;
    min-width: 73px;
  }
  
  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}