.menu_button__ {
  display: none;

  @include sm {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($secondaryColor, 0.2);
    position: relative;
    width: 40px;
    height: 40px;
    color: $secondaryColor;
    border-radius: 50%;

    svg {
      width: 20px;

      path {
        fill: $secondaryColor;
      }
    }
  }
}

.lang_link__ {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 10px;
  background-color: rgba($secondaryColor , 0.25);
  width: 31px;
  border-radius: $secondaryBorderRadius;
  transition: 0.5s;
  
  .figure__ {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s;
  }

  &:hover {
    text-decoration: none;
    background-color: rgba($secondaryColor, 1);
    border-radius: $mainBorderRadius;
    color: #fff;

    .figure__ {
      filter: brightness(0);
    }
  }

  // @include sm {
  //   // background-color: rgba(#fff, 0.2) !important;
  //   border-radius: $mainBorderRadius;
  //   color: #fff !important;

  //   .figure__ {
  //     filter: brightness(0) invert(1) !important;
  //   }
  // }
}
// large sizes

.toolbar_options__ {
  display: flex;
  align-items: center;
  padding: 0;
  // position: relative;
  z-index: 1;
  // margin-top: 10px;
  flex-wrap: nowrap;

  .block__ {
    transition: 0.5s;

    &.lang_list_item__ {
      @include sm {
        position: absolute;
        top: 15px;
        inset-inline-start: 15px;
      }
    }

    .notification_link__,
    .profile_link__ {
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.5s;

      .figure__ {
        transition: 0.5s;
      }

      &:hover {
        background-color: #fff;

        .figure__ {
          filter: brightness(0) !important;
        }
      }
    }

    &.profile_link_item__ {
      margin-inline-end: 10px;
    }

    &.search_mode {
      display: none;
    }

    // &:not(:first-child) {
    //   margin-inline-start: 20px;

    //   @include sm {
    //     margin-inline-start: 4px;
    //   }
    // }
  }
}

// small size
@include sm {
  .toolbar_options__ {
    // margin-top: 20px;
    width: 100%;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;

    .block__ {
      &.profile_link_item__,
      &.lang_list_item__,
      &.notification_link_item__ {
        min-width: 45px;
        // background-color: rgba(#fff, 0.2);
        justify-content: center;
        position: absolute;
        top: 23px;
        inset-inline-start: 20px;
        order: 3;

        .icon__,
        .figure__ {
          filter: brightness(0) invert(1) !important;
        }
      }

      &.notification_link_item__ {
        inset-inline-start: 70px;
      }

      &.profile_link_item__ {
        inset-inline-start: 120px;
      }

      &.notification_list_item__,
      &.notification_list_item__ a {
        display: flex !important;
        align-items: center;
        justify-content: center;
      }

      &.points_link_wrapper__ {
        order: 5;
        min-width: 100%;
        
        .points_link__ {
          min-width: 100%;
          margin: 0;
        }
      }

      &.dropdown__ {
        order: 5;
      }

      &.sing_up_blocks_list_item__ {
        width: 100%;
        order: 1;
      }

      &.lang_list_item__ {
        order: 3;
      }

      &.search_mode {
        display: unset;
      }
    }
  }
}
