.select__ {
  width: 100% !important;
  margin-bottom: 0;

  &.with_icon__ {
    .dropdown-toggle{
      &::before {
        content: url(../images/shapes/select_input.svg);
        width: 24px;
        height: 24px;
        margin-inline-end: 10px !important;
        filter: grayscale(1);
      }
    }
  }
  
  // button
  .dropdown-toggle {
    border-radius: $mainBorderRadius;
    border: 1px solid $inputBorderColor;
    background-color: transparent;
    height: 63px;
    padding: 13px 30px;
    font-size: 14px;
    font-stretch: normal;
    color: $placeholderColor;
    outline: none !important;
    
    &::after {
      content: url(../images/shapes/select_arrow_icon.svg);
      margin: 0;
      margin-right: 0;
      display: inline-block;
      vertical-align: middle;
      border: none !important;
      margin-top: 0;
      margin-inline-end: 0;
      height: 24px;
    }
    
    .filter-option {
      color: $placeholderColor;
      display: flex;
      align-items: center;
      margin-inline-end: 15px;
      text-align: right;

      @include dir {
        text-align: left;
      }
    }

    .filter-option-inner-inner {
      font-size: 14px;
      font-weight: 300;
      color: $placeholderColor;
      transition: 0.5s;
    }

    &:focus,
    &:active,
    &:hover {
      border-color: $primaryColor;
      color: $headingMainColor !important;
      outline: none !important;

      &::before {
        filter: unset !important;
      }

      .filter-option-inner-inner {
        color: $headingMainColor;
      }
    }

  }

  &.show {
    > .btn-light.dropdown-toggle {
      background-color: #fff !important;
      border-color: $primaryColor !important;
      color: $headingMainColor !important;
      outline: none !important;
    }
  }

  // list items
  .dropdown-menu {
    min-width: 100% !important;
    max-width: 100% !important;

    .dropdown-item {
      text-align: start;
    }

    li {
      .dropdown-item {
        outline: none !important;
        font-size: 14px;
        color: $headingMainColor;
        border-radius: 0;

        &.active,
        &:active,
        &:hover {
          outline: none !important;
          background-color: $primaryColor;
          color: #fff;
        }
      }
    }
  }

  .bs-searchbox {
    input {
      height: 41px;
      background-color: transparent;
      border: solid 1px $inputBorderColor;
      padding: 10px 20px;
      margin-bottom: 0;
      border-radius: $mainBorderRadius;
      outline: none;
      width: 100%;
      font-size: 14px;
      color: $headingMainColor;
      transition: 0.5s;
      display: flex;
      align-items: center;

      &:focus,
      &:hover {
        border-color: $primaryColor;
        box-shadow: none;
        outline: none;
      }
    }
  }
}



