.default_page__ {
  padding: 51px 0 48px;

  @include sm {
    padding: 20px 0 35px; 
  }

  &.top_small_padding {
    padding-top: 32px;
  }
}

// section defaults
.default_section__ {
  padding: 75px 0;

  @include sm {
    padding: 30px 0;
  }

  @include xs {
    padding: 20px 0;
  }
}


.row_modify {
  display: flex;
  align-items: center;

  @include md {
    justify-content: center;
  }

  &.with_row_gap {
    row-gap: 30px;
    
    @include xs {
      row-gap: 15px;
    }
  }

  &.with_second_row_gap {
    row-gap: 50px;
  }
  
  &.with_margin {
    margin-bottom: 30px;
  }
  
  &.reverse_dir_column_small_size {
    @include sm {
      gap: 20px;
      flex-direction: column-reverse;
    }
  }

  &.justify_between__ {
    justify-content: space-between;
  }
}

.col_start__ {
  align-self: flex-start;
}

.col_center__ {
  align-items: center;
}

.col_flex {
  display: flex;
}

