.intro_section {
  background-color: $primaryColor;
  color: $secondaryColor;
  position: relative;
  // height: calc(96vh - 134px); //  section height -  header height
  overflow: hidden;
  padding-top: 160px;
  // background-image: url(../images/intro_section/background.svg);
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: top;

  @include sm {
    padding-top: 60px;
  }

  .figure__ {
    padding-bottom: 79.8825%;
    transform: scaleX(-1);
  }

  .text__ {
    color: $secondaryColor;

    @include sm {
      min-width: 100%;
      text-align: center;
    }
  }

  .title__ {
    font-size: 51px;
    font-weight: 800;
    margin-bottom: 12px;
    line-height: 57px;

    @include xs {
      font-size: 30px;
      margin-bottom: 5px;
    }
  }

  .sub_title__ {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
    line-height: 49px;

    @include xs {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  .parag__ {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 444px;
    margin-bottom: 37px;

    @include xs {
      font-size: 13pxpx;
    }
  }
}

.calories_calculator__ {
  padding: 100px 0;
  position: relative;
  background-color: rgba(#000, 0.02);
  overflow: hidden;
  // background-image: url(../images/calories_calculator/section_background.png);
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: top center;

  .img_wrapper {
    position: relative;

    &::before {
      content: url(../images/calories_calculator/main_photo_background.svg);
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translate(-59%, -41%) scale(0.87);

      @include sm {
        transform: translate(-63%, -34%) scale(0.9);
      }

      @include xs {
        transform: translate(-45%, -44%) scale(0.65) !important;
      }

      @include xxs {
        transform: translate(-36%, -45%) scale(0.43) !important;
      }

      @include dir {
        transform: translate(-44%, -42%) scale(0.87);

        @include md {
          transform: translate(-53%, -45%) scale(0.72);
        }

        @include xs {
          transform: translate(-45%, -44%) scale(0.8) !important;
        }

        @include xxs {
          transform: translate(-53%, -44%) scale(0.68) !important;
        }
      }
    }
  }

  .figure__ {
    padding-bottom: 64.93%;
  }

  .section_header {
    @include sm {
      margin-top: 20px;
    }
  }
}

.about_us_section {
  .figure__ {
    padding-bottom: 108.25%;
    border-radius: $fourthBorderRadius;
    overflow: hidden;
  }

  .img_wrapper {
    position: relative;
    padding: 22px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $primaryColor;
      width: 151px;
      height: 81px;
      border-radius: 41px;
      z-index: -1;
    }

    &::before {
      top: 0;
      inset-inline-start: 0;
    }

    &::after {
      bottom: 0;
      inset-inline-end: 0;
    }
  }

  .site_head__ {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;

    @include sm {
      font-size: 20px;
    }

    @include xs {
      font-size: 16px;
    }
  }

  .site_head_sub_title__ {
    font-size: 18px;
    font-weight: 400;

    @include sm {
      font-size: 14px;
    }

    @include xs {
      font-size: 12px;
      line-height: 1.8;
    }
  }
}

.our_advantages_section {
  background-color: rgba(#000, 0.02);
}

.cities_section__ {
  .marker {
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }

  text {
    font-size: 22px;
    fill: #000;
    stroke: none;
    font-weight: 700;
    text-anchor: middle;
  }

  svg {
    max-height: 400px;
  }
}

.instgram_gallery {
  background-color: rgba($primaryColor, 0.02);
  position: relative;

  .instgram_icon__ {
    background-color: #fff;
    padding: 28px;
    border-radius: 50%;
    width: 116px;
    height: 116px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .instgram_second_icon__ {
    margin-bottom: 55px;

    @include sm {
      margin-bottom: 30px;
    }
  }

  .section_sub_title__ {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    color: $headingMainColor;
  }
}

.our_partners_and_clients_section {
  .swiper-container {
    padding: 20px 10px;
  }
}
