.meals_page__ {
  .mixitup_controls_wrapper__,
  .swiper-container,
  .swiper-wrapper {
    width: 100%;
  }

  .mixitup_controls_wrapper__ {
    margin-bottom: 15px;
  }

  .my_meal_settings_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;


    @include xs {
      flex-direction: column;
      gap: 15px;
    }

    @include xxs {
      flex-direction: column;
      gap: 15px;
    }
  }
}