.profile_page {
  .profile_page_title__ {
    font-size: 16px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin-bottom: 12px;
  }

  .profile_page_user_name__ {
    font-size: 25px;
    font-weight: 800;
    color: $headingMainColor;
    margin: 0;

    @include xs {
      font-size: 14px;
    }
  }
}