.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  padding: 105px 0 35px;
  background-color: $primaryColor;
}

.footer_content__ {
  padding: 0 90px;
  padding-top: 60px;
  border-radius: $thirdBorderRadius $thirdBorderRadius 0 0;
  border: 0;

  @include sm {
    padding: 0 30px;
    padding-top: 60px;
  }
}

.footer_head__ {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;

  @include xs {
    text-align: center;
  }

  &.second_margin_bottom__ {
    margin-bottom: 38px;
  }
}

.footer_list__ {
  // display: flex;
  // flex-wrap: wrap;
  // row-gap: 15px;
  padding: 0;
  display: grid;
  margin: 20px 0;
  grid-template-columns: repeat(2 , 1fr);
  gap: 10px;

  // @include sm {
  //   justify-content: center;
  //   align-items: center;
  // }

  li {
    width: 100%;
    // width: calc(100% / 2);

    // @include sm {
    //   display: flex;
    //   justify-content: center;
    // }

    // @include xs {
    //   width: 50%;
    // }
  }

  a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 8px;

    @include sm {
      justify-content: center;

      @include dir {
        font-size: 12px;
      }
    }

    @include xs {
      font-size: 14px;
      justify-content: flex-start;
    }
    

    &:hover {
      padding-inline-start: 10px;
      color: $secondaryColor;
    }

    &::before {
      content: '';
      width: 14px;
      height: 14px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }
}

.footer_info_wrapper {
  margin-bottom: 30px;

}

.footer_info__ {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  
  @include xs {
    text-align: center;
  }
}

.footer_socials__ {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  gap: 20px;

  @include sm {
    justify-content: center;
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    transition: 0.5s;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 8px;
    transition: 0.5s;

    img {
      filter: none;
      transition: 0.5s;
    }

    &:hover {
      // background-color: rgba($thirdColor, 1);
      // border-color: rgba($thirdColor, 1);

      img {
        filter: brightness(0) invert(1);
      }

      &.twiter_link {
        background-color: $twitterColor;
        border-color: $twitterColor;
      }

      &.facebook_link {
        background-color: $facebookColor;
        border-color: $facebookColor;
      }

      &.snap_chat_link {
        background-color: $snapChatColor;
        border-color: $snapChatColor;
      }

      &.instgram_link {
        background-color: $instagramColor;
        border-color: $instagramColor;
      }
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  border: 0;

@include md {
  font-size: 13px;
}

  .copyright_icon__ {
    margin-inline-end: 5px;
    filter: brightness(0) invert(1);
  }

  .copyright_logo__ {
    margin-inline-start: 10px;
  }
}

.social_copyrights_wrapper__ {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 50px;
  gap: 20px;

  
  @include sm {
    flex-direction: column;
  }
}
