@import "forms/input_block";
@import "forms/textarea_block";
@import "forms/submit_block";
@import "forms/select_block";
@import "forms/checkbox_input";
@import "forms/radio_input";
@import "forms/datepicker";

.form_wrapper__ {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 34px;
  padding: 85px 90px 75px;
  // border: 1px solid #f0f1f6;
  // box-shadow: 0 0 40px rgba(#000, 0.09);

  @include sm {
    padding: 20px;
    border-radius: 20px;
  }

  @include xs {
    padding: 30px 10px !important;
  }

  &.small_padding {
    padding: 30px 90px 45px;
  }

  &.none_padding {
    padding: 0;
  }
}

.inputs_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 11px;

  @include xs {
    grid-template-columns: repeat(1, 1fr);
  }
}

.inputs_wrapper__ {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 40px;
}

.address_inputs_wrapper__{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 7px;
  
  @include md {
    grid-template-columns: repeat(4, 1fr);
  }
  
  @include sm {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @include xs {
    grid-template-columns: repeat(2, 1fr);
  }

  &.register_inputs_wrapper__ {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    @include xs {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.search_input_wrapper {
  position: relative;
  height: 45px;
  border-radius: $thirdBorderRadius;

  .input__ {
    padding: 0;
    padding-inline-start: 60px;
    height: 100%;
    background-color: #fff;
    border: 1px solid rgba($primaryColor, 0.1);

    &:focus,
    &:active,
    &:hover {
      border: 1px solid rgba($primaryColor, 1);
    }
  }

  .icon__ {
    position: absolute;
    top: 50%;
    inset-inline-start: 27px;
    transform: translateY(-50%);
  }
}

.modify_data_form__ {
  box-shadow: unset;
  border: none;
  max-width: 628px !important;
}

.form_image__ {
  padding-bottom: 73%;
  margin-bottom: 15px !important;

  img {
    object-fit: contain;
  }

  &.small_size_image__ {
    max-width: 259px;
    margin: 0 auto;
    padding-bottom: 40%;
  }
}

.default_form__ {
  // margin: 0 auto;
  max-width: 536px;
  margin: 0 auto;

  @include xxs {
    max-width: 100%;
  }

  &.full_width__ {
    min-width: 100%;
    max-width: none;
  }
}

.form_title__ {
  margin-bottom: 30px;

  @include sm {
    text-align: center;
  }

  .sub_title__ {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: $primaryColor;

    @include xs {
      font-size: 16px;
    }
  }

  .title__ {
    font-size: 21px;
    color: $primaryColor;
    margin-bottom: 0;
    font-weight: bold;

    &.title_first__ {
      margin-bottom: 15px;
    }

    @include xs {
      font-size: 22px;
    }
  }

  .parg__ {
    font-size: 13px;
    color: $paragraphMainColor;
    margin-bottom: 0;

    &.verification_parag__ {
      margin-bottom: 10px !important;
      font-weight: 300;
    }

    &.not_full_width__ {
      max-width: 50%;
      margin: 0 auto;

      @include xs {
        max-width: 100%;
      }
    }
  }

  .number_parag__ {
    font-size: 14px;
    font-weight: 600;
    color: $headingMainColor;
    direction: ltr;
  }

  .link__ {
    font-size: 14px;
    color: $secondaryColor;
    margin-top: 10px;
  }

  &.centered {
    text-align: center;
  }
}

.second_form_title {
  font-size: 14px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 23px;
  text-align: center;
}

.input_group__ {
  margin-bottom: 20px;

  &.flex_group__ {
    display: flex;
    align-items: center;

    &.center__ {
      justify-content: center;
    }

    &.group_gap__ {
      gap: 15px;
    }
  }

  &.with_margin_top {
    margin-top: 20px;
  }

  &.with_label__ {
    background-color: $inputBackgroundColor;
    padding: 12px 35px;
    border-radius: $mainBorderRadius;

    .label__ {
      font-size: 12px;
      font-weight: 300;
    }

    .input__,
    .select__ {
      height: fit-content;
      padding: 0;
    }

    .dropdown-toggle {
      height: fit-content;
      padding: 0;
      border: none;

      &:focus,
      &:active,
      &:hover {
        border-color: $primaryColor !important;
        color: $headingMainColor !important;
        outline: none !important;
      }
    }
  }

  &.column_dir__ {
    flex-direction: column;
  }

  &.small_size_column_dir {
    @include sm {
      flex-direction: column;
    }
  }

  &.none_margin__ {
    margin: 0;
  }

  &.custom_input_group__ {
    background-color: #fff;
    padding: 10px 32px;
    border-radius: $mainBorderRadius;
    border: 1px solid $inputBorderColor;
    height: 56px;

    .label__ {
      margin: 0;
      font-size: 11px;
      text-align: start;
      color: $paragraphMainColor;
    }

    .input__,
    .dropdown-toggle {
      padding: 0;
      margin: 0;
      font-size: 12px;
      font-weight: 500;
      border-radius: unset;
      border-color: transparent;
      height: fit-content;

      &:hover,
      &:active,
      &:focus {
        border-color: transparent !important;
      }
    }

    &.select_group__ {
      position: relative;
      .dropdown-toggle {
        margin-top: -3px;
        &::after {
          display: none;
        }
      }

      &::after {
        content: url(../images/shapes/arrow-down.svg);
        position: absolute;
        margin: 0;
        margin-right: 0;
        display: inline-block;
        vertical-align: middle;
        border: none !important;
        margin-top: 0;
        margin-inline-end: 0;
        height: 24px;
        top: 50%;
        inset-inline-end: 40px;
        transform: translateY(-50%);
      }
    }

    &:focus-within,
    &:hover {
      border-color: $secondaryColor;
    }
  }

  &.date_input__ {
    position: relative;

    &::after {
      content: url(../images/shapes/date_input_icon.svg);
      position: absolute;
      top: 50%;
      inset-inline-end: 37px;
      transform: translateY(-50%);
    }
  }

  &.price_input__ {
    position: relative;

    .currency__ {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      inset-inline-end: 20px;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.final_buttons_wrapper__ {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_group_unit__ {
  display: flex;
  align-items: center;

  .input__ {
    border-radius: 0 $mainBorderRadius $mainBorderRadius 0;

    @include dir {
      border-radius: $mainBorderRadius 0 0 $mainBorderRadius;
    }
  }

  .unit__ {
    min-width: 67px;
    height: 56px;
    border-radius: $mainBorderRadius 0 0 $mainBorderRadius;
    border: 1px solid $borderBreakColor;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
  }
}

.label__ {
  color: $headingSecondaryColor;
  font-size: 15px;
  margin-bottom: 15px;
  display: block;

  .optional__ {
    font-size: 13px;
    color: $paragraphSecondaryColor;
    margin-inline-start: 5px;
  }

  &.centered {
    text-align: center;
  }
}

.password-group-om {
  position: relative;

  .input__ {
    padding-inline-end: 40px;
  }

  .show-password-button-om {
    position: absolute;
    top: 50%;
    inset-inline-end: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
    width: 22px;
    padding: 0;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;

    .icon__ {
      fill: #aaa;
    }

    &:focus {
      outline: none;
    }

    &.show-om {
      .icon__ {
        path {
          fill: $primaryColor;
        }
      }
    }
  }
}

.terms_and_conditions_label__ {
  margin-inline-start: 35px;
  font-size: 15px;
  display: flex;
  gap: 2px;

  @include xs {
    font-size: 12px;
  }

  @include xxs {
    font-size: 10px;
  }

  .terms_and_conditions_link__ {
    font-size: 13px;
    color: $secondaryColor;

    @include xs {
      font-size: 12px;
    }

    @include xxs {
      font-size: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.chat_input_wrapper {
  display: flex;
  align-items: center;
  border: solid 1px $inputBorderColor;
  border-radius: $mainBorderRadius;
  padding: 0 20px;

  .input__ {
    border: none;
    padding: 0;
  }

  .chat_file_input {
    display: none;
  }

  .chat_file_label {
    margin: 0;
    cursor: pointer;

    &:hover {
      filter: invert(0.45) sepia(0.92) saturate(6.76) hue-rotate(3deg)
        brightness(1.03) contrast(0.98);
    }
  }

  &:focus-within,
  &:hover {
    border-color: $primaryColor;
  }
}

.upload_profile_photo_input {
  opacity: 1;
  display: none;
}

.uploadProfile_title__ {
  font-size: 16px;
  font-weight: 400;
  color: $headingMainColor;
  max-width: 150px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.uploadProfile_sub_title__ {
  font-size: 10px;
  font-weight: 300;
  color: $paragraphMainColor;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.uploadProfile_parag__ {
  font-size: 12px;
  font-weight: 300;
  color: $paragraphFourthColor;
  margin-bottom: 6px;
}

.upload_profile_photo_label {
  position: relative;
  cursor: pointer;
  margin-inline-end: 15px;

  .provider_img_block {
    width: 94px;
    height: 94px;
    &::before {
      width: calc(100% + 7px);
      height: calc(100% + 7px);
      background-color: rgba($primaryColor, 0.49);
      border-color: transparent;
    }
  }

  .provider_profile_figure__ {
    height: 100%;
    border-radius: $thirdBorderRadius;
    overflow: hidden;
    border: 1px solid #e4e4e4;
  }

  .upload_profile_photo_label_overlay__ {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 94px;
    top: 50%;
    transform: translateY(-50%);
    inset-inline-start: 0;
    border-radius: $thirdBorderRadius;

    &::after {
      content: url(../images/shapes/gallery-add.svg);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
    }

    &.uploaded {
      opacity: 0;
      background-color: rgba($headingMainColor, 0.52);
      transition: 0.5s;

      &::after {
        filter: brightness(0) invert(1) !important;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

}

.input_group_with_icon__ {
  position: relative;

  .input__,
  .select__ {
    padding-inline-start: 60px;
  }

  &.icon__group_padding__ {
    padding-inline-start: 62px;
  }

  &.email_bulletin_input__ {
    .input__ {
      background-color: transparent;
      border-color: #fff;

      &::placeholder {
        color: #fff;
      }
    }

    &::before {
      filter: brightness(0) invert(1);
    }
  }

  &::before {
    position: absolute;
    top: 50%;
    inset-inline-start: 30px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }

  &.name_input_group__ {
    &::before {
      content: url(../images/shapes/inputs_icons/name.svg);
    }
  }

  &.phone_input_group__ {
    &::before {
      content: url(../images/shapes/inputs_icons/mobile-linear.svg);
    }
  }

  &.password_input_group__ {
    &::before {
      content: url(../images/shapes/inputs_icons/password.svg);
    }
  }

  &.mail_input_group__ {
    &::before {
      content: url(../images/shapes/inputs_icons/sms-linear.svg);
    }
  }

  &.select_input_group__ {
    &::before {
      content: url(../images/shapes/select_input.svg);
    }
  }
}

.radio_inputs_wrapper__ {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  @include xxs {
    gap: 5px;
  }

  &.packages_radio_inputs_wrapper__ {
    flex-direction: column;

    .radio-group-om {
      width: 100%;
    }

    .radio-label {
      padding-inline-start: 45px !important;
      width: 100%;
      justify-content: unset;
      height: 73px;
      border-radius: $secondaryBorderRadius;
      padding: 15px 25px;
    }

    .package_info__ {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .title__ {
      font-size: 13px;
      font-weight: 400;
      color: $secondaryColor;
      margin-bottom: 7px;
    }

    .sub_title__ {
      color: $secondaryColor;
      font-size: 13px;
      font-weight: 300;
      margin: 0;
    }

    .figure__ {
      margin-inline-end: 15px;
      transform: scale(1.2);
    }
  }
}

.price__ {
  margin: 0;
  // margin-inline-start: auto;
  font-size: 70px;
  font-weight: 800;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 19px;
  color: $primaryColor;
  width: fit-content;
  // padding: 7px 30px;
  gap: 5px;

  &.with_background {
    margin: 0;
    font-size: 14px;
    font-weight: 800;
    gap: 5px;
    background-color: rgba($secondaryColor, 0.1);
    // padding: 6px 18px;
    border-radius: $mainBorderRadius;
  }

  &.center__ {
    margin: 0 auto;
  }

  &.payment_price_style {
    font-size: 22px;
    font-weight: 500;
    color: $secondaryColor;
    background-color: rgba($secondaryColor, 0.13);
    padding: 10px 35px;

    .currency__ {
      font-size: 14px;
    }
  }

  &.horizontal_view__ {
    flex-direction: row;
  }

  .currency__ {
    font-size: 14px;
  }
}

.select_subscription_days_number_inputs_wrapper__ {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.additions_inputs_wrapper__ {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 25px;

  @include xs {
    grid-template-columns: repeat(2, 1fr);
  }

  @include xxs {
    grid-template-columns: repeat(1, 1fr);
  }
}

.optional_input__ {
  position: relative;
}

.optional_text__ {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 10%;
  font-size: 14px;
  font-weight: 400;
  color: $headingMainColor;

  &.static_position__ {
    position: static;
    transform: unset;
  }

  &.red_color__ {
    color: $mainRedColor;
  }

  // .star__ {
  //   color: $mainRedColor;
  //   font-weight: 700;
  // }
}

.buttons_wrapper__ {
  display: flex;
  align-items: center;
  gap: 10px;
}