@import "header/dropdown";
@import "header/login_buttons";
@import "header/1_logo";
@import "header/2_navbar";
@import "header/toolbar_options";

.fixed_header__ {
  position: relative;
  z-index: 2000;
  padding: 20px 0;
  background-color: $primaryColor;
  // height: 134px;
  
  // @include sm {
  //   padding: 20px 0 100px;
  // }
  
  // @include xs {
  //   padding: 10px 0 30px;
  //   height: fit-content;
  // }

  &.active_menu__,
  &.not_active_menu__ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    transition: 0s;
    padding: 10px 0;
    height: fit-content;
  }
  
  &.active_menu__ {
    animation: active-menu 0.5s;
    background-color: transparent;
    box-shadow: $secondaryShadowColor;
    background-color: $primaryColor;
  }
  
  &.not_active_menu__ {
    animation: not-active-menu 0.5s;
    // transform: translateY(-100%);
    top: -200px;
  }


  .header_content__ {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // @include md {
    //   justify-content: unset;
    // }
  }

  @keyframes active-menu {
    0% {
      // transform: translateY(-100%);
      top: -200px;
    }

    100% {
      // transform: translateY(0);
      top: 0;
    }
  }

  @keyframes not-active-menu {
    0% {
      // transform: translateY(0);
      top: 0;
    }

    100% {
      // transform: translateY(-100%);
      top: -200px;
    }
  }
}
