// Cairo Fonts
// @font-face {
//   font-family: "Cairo";
//   src: url("../fonts/Cairo/Cairo-ExtraLight.woff2") format("woff2"),
//     url("../fonts/Cairo/Cairo-ExtraLight.woff") format("woff");
//   font-weight: 200;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Cairo";
//   src: url("../fonts/Cairo/Cairo-Light.woff2") format("woff2"),
//     url("../fonts/Cairo/Cairo-Light.woff") format("woff");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Cairo";
//   src: url("../fonts/Cairo/Cairo-Regular.woff2") format("woff2"),
//     url("../fonts/Cairo/Cairo-Regular.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Cairo";
//   src: url("../fonts/Cairo/Cairo-SemiBold.woff2") format("woff2"),
//     url("../fonts/Cairo/Cairo-SemiBold.woff") format("woff");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Cairo";
//   src: url("../fonts/Cairo/Cairo-Black.woff2") format("woff2"),
//     url("../fonts/Cairo/Cairo-Black.woff") format("woff");
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Cairo";
//   src: url("../fonts/Cairo/Cairo-Bold.woff2") format("woff2"),
//     url("../fonts/Cairo/Cairo-Bold.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// Montserrat Fonts
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Thin-250.otf");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-ExtraLight-275.otf");
  font-weight: 275;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Light-300.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Regular-400.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Medium-500.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-SemiBold-600.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Bold-700.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-ExtraBold-800.otf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat_Arabic/Montserrat-Arabic-Black-900.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// Almarai Fonts
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}