.link-om {
  color: $secondaryColor;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    color: $secondaryColor;
    text-decoration: none;
  }

  &.with_icon {
    display: flex;
    align-items: center;

    .icon__ {
      margin-inline-end: 5px;
    }
  }
}

.seconde_link__ {
  text-decoration: none;
  color: $secondaryColor;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px 6px;
  border: 1px solid $secondaryColor;
  background-color: #e4f9fb;
  transition: 0.5s;

  &:hover {
    background-color: $secondaryColor;
    color: #fff;
    text-decoration: none;
  }
}

.links_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 13px;
  border-radius: 15px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: 0.5s;

  &.main_link {
    background-color: $primaryColor;
    color: $headingMainColor;
    height: 47px;
    font-size: 14px;
    font-weight: 500;
    border-radius: $thirdBorderRadius;
    padding: 5px 20px;

    &:hover {
      background-color: rgba($primaryColor, 0.8);
    }
  }

  &.full_width__ {
    min-width: 100%;
  }

  &.center__ {
    margin: 0 auto;
  }

  &.with_icon__ {
    &::after {
      content: url(../images/shapes//arrow_circle_left.svg);
      display: block;
    }
  }

  &.with_horizontal_padding {
    padding: 0 35px;
  }
  
  &.app_download_link__ {
    width: 260px;
    background-color: $primaryColor;
    gap: 30px;
    color: #fff;
    border-radius: 15px;
    position: relative;
    height: 67px;
    z-index: 1;
    border-radius: 35px;
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s;
    text-align: start;

    @include xs {
      height: fit-content;
      padding: 5px;
      font-size: 8px;
      font-weight: 275;
      width: 100%;
      gap: 10px;
    }

    @include dir {
      font-size: 10px;
      gap: 10px;
      
      @include xs {
        font-size: 7px;
        font-weight: 300;
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .icon__ {
      padding: 0;
      transition: 0.5s;
    }

    &:hover {
      background-color: $secondaryColor;
      .icon__ {
        transform: scale(1.1);
      }
    }
  }

  &.provider_card_phone_link {
    background-color: rgba($primaryColor, 0.17);
    gap: 15px;
    height: 49px;
    font-size: 12px;
    font-weight: 500;
    width: 50%;
    color: $headingMainColor;
    
    @include md {
      min-width: 70%;
      font-size: 10px;
      gap: 5px;
    }

    @include sm {
      padding: 5px;
      font-style: 8px;
      min-width: fit-content;
    }
    
    &:hover {
      background-color: rgba($primaryColor, 0.27);
    }
  }

  &.request_card_link__ {
    color: $secondaryColor;
    justify-content: center;
    font-size: 10px;
    font-weight: 300;
    border-radius: $mainBorderRadius;
    background-color: rgba($secondaryColor, 0.16);
    padding: 10px;
    position: relative;
    
    @include xs {
      font-size: 10px;
    }
    
    &:hover {
      background: rgba($secondaryColor, 1);
      color: #fff;

      .icon__ {
        filter: brightness(0) invert(1);
      }
    }
  }

  &.change_password_link__ {
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    height: 57px;
    width: 276px;

    padding: 0 33px;
    color: $headingMainColor;
    font-size: 14px;
    font-weight: 500;
    background-color: rgba($thirdColor, 0.08);
    gap: 10px;

    &:hover {
      background-color: rgba($thirdColor, 1);
      
      .icon__ {
        filter: brightness(0) invert(1);
      }
    }
  }

  &.intro_sec_more_link__ {
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: $primaryColor;
    border-radius: $mainBorderRadius;
    height: 49px;
    max-width: 168px;

    @include sm {
      font-size: 12px;
      height: 30px;
      max-width: 125px;
      margin-bottom: 20px;
    }

    @include sm {
      font-size: 9px;
      height: 25px;
      max-width: 80px;
      margin-bottom: 20px;
    }
  }

  &.sign_up_link__ {
    color: $primaryColor;
    background-color: rgba($primaryColor, 0.14);
    padding: 0 60px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 700;

    @include xs {
      padding: 0 30px;
      width: 100%;
    }

    .icon__ {
      margin-inline-end: 8px;
    }
    
    
    &:hover {
      color: #fff;
      background-color: rgba($thirdColor, 1);

      .icon__ {
        filter: brightness(0) invert(1);
      }
    }
  }

  &.intro_link__ {
    background-color: rgba($secondaryColor, 1);
    border-radius: $mainBorderRadius;
    width: fit-content;
    height: 47px;
    width: 199px;
    color: $primaryColor;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;

    @include sm {
      min-width: 100%;
      margin-bottom: 30px;
    }

    &:hover {
      background-color: rgba($secondaryColor, 0.9);
      text-decoration: none;
      // color: $secondaryColor;
    }

  }

  &.rent_request_link__ {
    background-color: $linkBackgroundColor;
    height: 40px;
    border-radius: $mainBorderRadius;
    color: #fff;

    &:hover {
      background-color: rgba($thirdColor, 0.9);
    }
  }

  &.contact_us_link {
    color: #fff;
    direction: ltr;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
  }

  &.booking_link {
    margin-top: 25px;
    width: fit-content;
    padding: 0 40px;
  }

  &.whats_up_link__ {
    background-color: rgba($whatsapp, 0.08);
    height: 38px;
    color: $whatsapp;
    
    &:hover {
      background-color: rgba($whatsapp, 0.18);

    }
  }

  &.permit_share_whats_up_link__ {
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;

    .icon__ {
      width: 17px;
    }
  }

  &.get_card_link {
    width: 100%;
    max-width: 244px;
    
    &:hover {
      background-color: rgba($whatsapp, 0.18);

    }
  }

  &.offer_link__ {
    width: fit-content;
    color: $headingMainColor;
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    
    @include dir {
      &:after {
        transform: rotate(180deg);
      }
    }

    &:hover {
      color: rgba($secondaryColor, 1);
    }
  }

  &.show_link__ {
    font-size: 14px;
    font-weight: 500;
    color: $secondaryColor;
    margin-top: 80px;
    margin-bottom: -100px;
    transition: 0.5s;

    @include dir {
      .icon__ {
        transform: rotate(180deg);
      }
    }
  }

  &.program_subscribe_link__ {
    background-color: $primaryColor;
    padding: 14px 25px 14px 14px;
    border-radius: $thirdBorderRadius;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    width: 150px;

    @include dir {
      font-size: 10px;
    .icon__ {
        transform: rotate(180deg);
      }
    }

    @include sm {
      font-size: 12px;
      padding: 10px;
    }
    
    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }
  
  &.program_info_link__ {
    background-color: #fff;
    padding: 14px 25px;
    border-radius: $thirdBorderRadius;
    color: $primaryColor;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    width: 150px;

    @include sm {
      font-size: 12px;
      padding: 10px;
    }
    
        &:hover {
          background-color: rgba($primaryColor,1);
          color: #fff;
        }

  }
  &:hover {
    text-decoration: none;
  }
}
