// main colors
$primaryColor: #EC1E28;
$secondaryColor: #fff;
$thirdColor: #2D2525;
$mainShadowColor: 0 0 30px rgba(#A3A3A3, 0.14);
$secondaryShadowColor: 0 0 20px rgba(#858585, 0.12);
$thirdShadowColor: 0 0 60px rgba(#858585, 0.12);
$mainRedColor: #E40000;
$borderColor: #D4D4D4;
$greyColor: #F7F7F7;
$secondGreyColor: #9A9A9A;
$thirdGreyColor: #EBEBEB;
$fourthGreyColor: #BEBEBE;
$inputBorderColor: rgba(#D4D4D4 , 0.78);
$placeholderColor: #333743;
$yellowColor: #FFA732;
$orangeColor: #E48403;
$greenColor: #0AC903;
$secondGreenColor: #3BAF00;
$thirdGreenColor: #4CD904;
$blueColor: #127DF7;
$secondBlueColor: #0BA6E1;
$thirdBlueColor: #055CBF;


// Alert colors
$colorInfo: #4bb1cf;
$colorDanger: #ED4F32;
$colorSuccess: #15CD72;
$colorPrimary: #288feb;
$colorWarning: #EDE04D;
$colorMuted: #ECECEC;

$linkBackgroundColor: #3C435C;
$searchBorderColor: rgba(#094271 , 0.1);
$primaryColorHover: rgba($primaryColor, 0.9);
$secondaryColorHover: rgba($secondaryColor, 0.9);
$secondRedColor: #E2114A;
$ratingIconBackground: #cbcbcb;


$secondBorderColor: #BBBBBB;
$redColor: #f54748;
$inputBackgroundColor: #f6f6f6;
$grid-columns: 12;
$grid-gutter-width: 30px;

// head colors
$headingMainColor: #2D2525;
$headingSecondaryColor: #787E96;
$headingThirdColor: #2a2929;
$headingFourthColor: #737373;
$headingFifthColor: #818181;

//parag Colors
$paragraphMainColor: #646363;
$paragraphSecondaryColor: #797979;
$paragraphThirdColor: #3F4653;
$paragraphFourthColor: #9E9E9E;
$paragraphFifthColor: #6B6B6B;
$paragraphSixthColor: #9f9f9f;


$mainSectionTitleBackground: rgba(#3F4653 , 0.06);

//brand Colors
$twitterColor: #14171a;
$facebookColor: #1877f2;
$linkedinColor: #2279ef;
$snapChatColor: #fffc00;
$whatsapp: #075e54;
$instagramColor: #833ab4;

$borderBreakColor: #3F4653;

//border radius
$mainBorderRadius: 50px;
$secondaryBorderRadius: 20px;
$thirdBorderRadius: 28px;
$fourthBorderRadius: 37px;




$mainBackgroundColor: #F3F3F3;

$dir: "ltr";
