.about_us_block__ {
  border-radius: $secondaryBorderRadius;
  box-shadow: $secondaryShadowColor;
  padding: 20px 40px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  .title__ {
    font-size: 25px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 16px;
    
    @include xs {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  
  .parag__ {
    font-size: 18px;
    font-weight: 400;
    color: $paragraphMainColor;
    line-height: 30px;
    margin: 0;
    
        @include xs {
          font-size: 12px;
          line-height: 1.7;
        }
  }
}