.advantages_card {
  display: flex;
  align-items: center;
  gap: 20px;

  .icon_wrapper__ {
    min-width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid rgba(#D5CBE2, 0.54);
    border-top-color: $primaryColor;
  }

  .icon__ {
    flex-shrink: 0;
    max-width: 51px;
  }

  .title__ {
    font-size: 18px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 11px;
  }

  .parag__ {
    font-size: 14px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
  }

  &.second_block__ {
    .icon_wrapper__ {
      border-top-color: rgba(#D5CBE2, 0.54);
      border-inline-start-color: $primaryColor;
    }
  }

  &.third_block__ {
    .icon_wrapper__ {
      border-top-color: rgba(#D5CBE2, 0.54);
      border-bottom-color: $primaryColor;
    }
  }

  &.fourth_block__ {
    .icon_wrapper__ {
      border-top-color: rgba(#D5CBE2, 0.54);
      border-inline-end-color: $primaryColor;
    }
  }
}