.alert__ {
  position: fixed;
  top: 30%;
  width: 280px;
  inset-inline-end: 100%;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 0 15px;
  z-index: 1000; 
  height: 58px;
  text-align: center;
  border-radius: $secondaryBorderRadius;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: inset-inline-end 0.5s ease-in-out;


  &.success {
    border-color: $colorSuccess;
    color: $colorSuccess;
    background-color: rgba($colorSuccess, 0.3);
  }

  &.error {
    border-color: $colorDanger;
    color: $colorDanger;
    background-color: rgba($colorDanger, 0.3);
  }

  &.info {
    border-color: $colorInfo;
    color: $colorInfo;
    background-color: rgba($colorInfo, 0.3);
  }

  &.primary {
    border-color: $colorPrimary;
    color: $colorPrimary;
    background-color: rgba($colorPrimary, 0.3);
  }

  &.warning {
    border-color: $colorWarning;
    color: $colorWarning;
    background-color: rgba($colorWarning, 0.3);
  }

  &.muted {
    border-color: $colorMuted;
    color: $colorMuted;
    background-color: rgba($colorMuted, 0.3);
  }

  &.active {
    inset-inline-end: calc(100% - 300px);
    
  }
}