.choose_plane_inputs_block__ {
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 20px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  .title__ {
    font-size: 17px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 30px;
  }
  
  .block_title__ {
    font-size: 17px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 10px;

    &.with_margin_top__ {
      margin-top: 20px;
    }
  }

  .block_sub_title__ {
    font-size: 14px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin-bottom: 15px;
  }

  .map_wrapper__ {
    max-height: 174px;
    width: 100%;
    border-radius: $thirdBorderRadius;
    overflow: hidden;
    margin-bottom: 25px;
  }

  .bank_imgs_wrapper__ {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .bank_information_wrapper__ {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 30px 35px;
    border-radius: $thirdBorderRadius;
    background-color: $greyColor;
    margin-bottom: 30px;

    .info_wrapper__ {
      .title__ {
        font-size: 16px;
        font-weight: 400;
        color: $paragraphMainColor;
        margin-bottom: 5px;

        @include xs {
          font-size: 13px;
        }
      }

      .info__ {
        font-size: 18px;
        font-weight: 700;
        color: $headingMainColor;
        margin: 0;
      }
    }
  }

  &.without_border_bottom__ {
    border: none;
  }

  &.calender_block__ {
    padding-bottom: 50px;
  }
}