.cities_block__ {
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: $thirdBorderRadius;
  background-color: rgba($thirdColor , 0.04);
  padding: 15px 25px;
  
  @include xs {
    padding: 10px 15px;
  }
  
  .icon__ {
    margin: 0;
  }

  .title__ {
    font-size: 18px;
    font-weight: 700;
    color: $headingMainColor;
    margin: 0;

    @include xs {
      font-size: 13px;
    }
  }
  

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}