.delivery_address_block_title__ {
  background-color: rgba($paragraphMainColor, 0.04);
  padding: 12px 25px;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  border-radius: $thirdBorderRadius;
  margin-bottom: 22px;
  
  .icon__ {
    margin-inline-end: 10px;
  }
}
