.dish_card__ {
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: $mainShadowColor;
  padding: 20px 15px;
  border-radius: $thirdBorderRadius;

  // @include xs {
  //   flex-direction: column;
  //   align-items: flex-start;
  // }
  
  .img_wrapper__ {
    min-width: 111px;
    position: relative;
    
    @include xxs {
      min-width: 90px;
    }

    // @include xs {
    //   min-width: 100%;
    // }
  }

  .figure__ {
    padding-bottom: 112.61%;
    border-radius: $secondaryBorderRadius;
    overflow: hidden;
  }

  .dish_like {
    position: absolute;
    top: 5px;
    inset-inline-start: 5px;
    background-color: $thirdColor;
    border: 0;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active,
    &:focus,
    &:hover {
      background-color: $primaryColor;

      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  .dish_details_wrapper__ {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  .title__ {
    font-size: 14px !important;
    font-weight: 700;
    color: $headingMainColor;
    max-width: 90%;
    
    @include xxs {
      font-size: 12px;
      max-width: 70%;
    }
  }

  .chart_wrapper__ {
    position: relative;
  }
  
  .cal_title__ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    z-index: -1;

    .num__ {
      font-size: 18px;
      font-weight: 700;
      color: $headingMainColor;

      @include xxs {
        font-size: 14px;
      }
    }
  }

  .chart__ {
    max-width: 70px;
    max-height: 70px;
    
    @include xxs {
      max-width: 60px;
      max-height: 60px;
    }
  }

  .dish_details__ {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .strip__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    @include xxs {
      gap: 5px;
    }

    &.carp_strip__ {
      .percentage__ {
        color: $thirdGreenColor;
      }
    }

    &.fats_strip__ {
      .percentage__ {
        color: $blueColor;
      }
    }

    &.protine_strip__ {
      .percentage__ {
        color: $yellowColor;
      }
    }
  }
  
  .percentage__ {
    font-size: 14px;
    font-weight: 700;
  }

  .info__ {
    font-size: 11px;
    font-weight: 400;
    color: $paragraphMainColor;
  }

  .weight__ {
    font-size: 11px;
    font-weight: 400;
    color: $headingMainColor;
  }
}