.email_bulletin_content_wrapper__ {
  background-color: $thirdColor;
  padding: 52px 92px;
  padding-inline-start: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: -120px;
  border-radius: $thirdBorderRadius;
  position: relative;
  z-index: 100;

  @include md {
    flex-direction: column;
    gap: 20px;
    padding: 25px 45px;
  }

  @include xs {
    margin-bottom: -100px;
  }

  .description_wrapper__ {
    position: relative;
    
    .title__ {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 15px;
      color: #fff;

      @include xs {
        font-size: 18px;
        margin-bottom: 5px;
      }
    }

    .sub_title__ {
      color: rgba(#fff, 0.53);
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      max-width: 376px;
      
      @include xs {
        font-size: 13px;
        line-height: 20px;
      }
    }

    

    &::before {
      content: url(../images/shapes/sms-notification-linear.svg);
      position: absolute;
      width: 186px;
      height: 186px;
      top: 50%;
      transform: translateY(-50%);
      inset-inline-start: -60px;
      
      @include xs {
        inset-inline-start: -30px;
        transform: translateY(-40%);
        
      }
    }

  }

  .email_bulletin_inputs_wrapper__{
    @include xs {
      width: 100% !important;
    }
  }
}