.footer_contact_block__ {
  display: flex;
  align-items: center;
  background-color: rgba(#fff , 0.1);
  padding: 8px 12px;
  border-radius: $thirdBorderRadius;
  width: 285px;
  transition: 0.5s;

  @include sm {
    min-width: 100% !important;
  }
  
  .icon__ {
    padding: 11px;
    width: 42px;
    height: 42px;
    background-color: #fff;
    border-radius: 50%;
    margin-inline-end: 15px;
  }
  
  .title__ {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    transition: 0.5s;
  }
  
  .sub_title__{
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s;
  }

  &:hover {
    background-color: #fff;

    .title__,
    .sub_title__ {
      color: $primaryColor;
    }
  }
}