.insta_gallery_item_wrapper__ {
  position: relative;
  
  .insta_gallery_item__ {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .figure__ {
      overflow: hidden;
      border-radius: $thirdBorderRadius;
      padding-bottom: 71.153%;
      flex-grow: 1;
      position: relative;
  
      .video__ {
        position: absolute;
        width: auto;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    

    &.video_item__ {

      &::before {
        content: url(../images/shapes/video-circle-broken.svg);
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000,0.57);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        border-radius: $thirdBorderRadius;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}