.invoice_block_wrapper__{
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 25px;
  }

  .invoice_details_blocks_wrapper__ {
    box-shadow: $thirdShadowColor;
    border-radius: $secondaryBorderRadius;
    padding: 33px 15px;
    background-color: #fff;
    width: 100%;
    margin-top: -40px;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
    column-gap: 5px;
    row-gap: 10px;
    
  }

  .links_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .invoices_status__ {
    background-color: $mainRedColor;
    height: 100px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding: 13px 26px;
    border-radius: $thirdBorderRadius;
    display: flex;
    width: fit-content;
    transition: 0.5s;
    gap: 10px;
    cursor: default;

    @include sm {
      padding: 15px 10px;
      font-size: 14px;
    }
    
    &.active {
      background-color: $secondGreenColor;
      
      &:hover {
        background-color: rgba($secondGreenColor, 0.9);
      }
    }
    
    &:hover {
      transform: translateY(-8px);
      background-color: rgba($mainRedColor, 0.9);
    }
  }

  .invoice_details_wrapper__{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    background-color: $greyColor;
    padding: 14px 24px;
    border-radius: $thirdBorderRadius;

    .title__ {
      font-size: 14px;
      font-weight: 400;
      color: $paragraphMainColor;

      @include xxs {
        font-size: 12px;
      }
    }

    .info__ {
      font-size: 12px;
      font-weight: 700;
      color: $headingMainColor;
    }
  }
}