.keto_plane_information_wrapper__ {
  display: flex;
  align-items: center;
  gap: 30px;

  @include xs {
    flex-direction: column;
  }

  .img_wrapper__ {
    min-width: 385px;
    background-color: rgba($primaryColor, 0.05);
    padding: 53px;
    border-radius: $thirdBorderRadius;

    @include xs {
      min-width: 100%;
    }
  }

  .figure__ {
    padding-bottom: 92.6199%;
  }

  .title__ {
    font-size: 28px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 15px;
  }

  .price_title__ {
    font-size: 20px;
    font-weight: 400;
    color: $headingMainColor;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 15px;
  }

  .price__ {
    font-size: 33px;
    font-weight: 800;
    color: $primaryColor;
    flex-direction: row;
    gap: 8px;

    .currency__ {
      font-size: 23px;
      font-weight: 700;
      color: $primaryColor;
    }
  }

  .parag__ {
    font-size: 14px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin-bottom: 65px;
    line-height: 25px;
  }
}
