.menu_block__ {
  border-radius: $thirdBorderRadius;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  .figure__ {
    padding-bottom: 92.12%;
  }

  .img_wrapper {
    padding: 43px 77px 31px;
    background-color: $greyColor;

    @include xs {
      padding: 20px 35px 15px;
    }
  }

  .description__ {
    background-color: rgba($greyColor , 0.6);
    padding: 36px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 105px;
    transition: 0.5s;
    overflow: hidden;

    @include xs {
      padding: 15px 10px;
    }
  }

  .title__ {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: $headingMainColor;
    transition: 0.5s;
    margin: 0;
  }
  
  &:hover {
    .img-om {
      transform: scale(1.2) rotate(15deg);
    }

    .description__ {
      background-color: $primaryColor;
    }

    .title__ {
      color: $secondaryColor;
    }

    .show_link__ {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}