// .mixitup_controls_wrapper {
//   justify-content: space-between;

//   @include sm {
//     flex-direction: column-reverse;
//     gap: 15px;
//   }

//   .mixitup_controls_wrapper__ {
//     @include sm {
//       display: grid !important;
//       grid-template-columns: repeat(2, 1fr) !important;
//       gap: 15px;
//       margin: 0;

//       .filter {
//         width: 100%;
//       }
//     }
    
//     @include xxs {
//       grid-template-columns: repeat(1, 1fr);
//     }
//   }
// }


