.notification_disable_check_box_wrapper__ {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;

  .notification_disable_check_box_input__ {
    &:checked {
      ~ .notification_disable_check_box_label__ {
        &::before {
          inset-inline-end: calc(100% - 14px);
          box-shadow: 0 0 11px $orangeColor;
        }
      }
    }
  }

  .notification_checkbox_title__ {
    font-size: 16px;
    font-weight: 400;
    color: $headingMainColor;
    margin: 0;
  }

  .notification_disable_check_box_label__ {
    height: 3px;
    width: 34px;
    background-color: $orangeColor;
    border-radius: $secondaryBorderRadius;
    position: relative;
    
    &::before {
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $orangeColor;
      position: absolute;
      top: 50%;
      inset-inline-end: 0;
      transform: translateY(-50%);
      transition: 0.5s;
    }
  }
}