.notification_block__ {
  display: flex;
  align-items: center;
  box-shadow: $mainShadowColor;
  padding: 28px 40px;
  border-radius: $fourthBorderRadius;
  background-color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.5s;

  .icon__ {
    margin-inline-end: 20px;
    flex-shrink: 0;
  }

  .head_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .title__ {
    font-size: 17px;
    font-weight: 700;
    color: $headingMainColor;
    margin: 0;
  }

  .time__ {
    font-size: 14px;
    font-weight: 400;
    color: $paragraphMainColor;
  }

  .time_wrapper__ {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .parag__ {
    font-size: 14px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
  }


  &.not_read{
    .icon__ {
      position: relative;

      &::after{
        content: '';
        position: absolute;
        top: 10px;
        inset-inline-start: 10px;
        background-color: $mainRedColor;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
    }
  }

  &:hover {
    text-decoration: none;
    background-color: rgba($primaryColor,0.08);
    border-color: rgba($primaryColor,0.7);
    box-shadow: 0 0 40px rgba($primaryColor,0.2);
  }
}