.offer_card__ {
  padding: 12px 15px 91px;
  border-radius: $mainBorderRadius;
  box-shadow: $mainShadowColor;
  position: relative;
  overflow: hidden;

  .swiper-container {
    margin-bottom: 27px;
  }

  .figure__ {
    border-radius: $mainBorderRadius;
    overflow: hidden;
    padding-bottom: 50.62%;
  }

  .title__ {
    display: flex;
    font-size: 16px;
    font-weight: 800;
    color: $headingMainColor;
    margin-bottom: 15px;
    transition: 0.5s;

    &:hover {
      color: $secondaryColor;
    }
  }

  .parag__ {
    font-size: 14px;
    font-weight: 300;
    color: $paragraphMainColor;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .main_link {
    width: calc(100% - 30px);
    position: absolute;
    inset-inline-end: 15px;
    bottom: -100px;
    transition: 0.5s;
  }

  .offer_link__ {
    position: absolute;
    bottom: 38px;
    inset-inline-end: 15px;
    transition: 0.5s;
  }

  &:hover {
    .img-om {
      transform: scale(1.1);
    }

    .main_link {
      bottom: 38px;
    }

    .offer_link__ {
    bottom: -100px;
    }
  }
}

.offer_time__ {
  color: $secondaryColor;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;

  .icon__ {
    animation: clockRotate 1s infinite;
    margin-inline-end: 5px;
  }
}