.online_method_content_wrapper__ {
  padding: 20px 0;
  .mysr-form-inputGroup {
    margin-bottom: 0 !important;
  }
  .mysr-form-button {
    background: $primaryColor !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    transition: 0.5s !important;
    padding: 0 30px !important;
    height: 61px !important;
    border-radius: $mainBorderRadius !important;

    &:hover {
      background-color: rgba($primaryColor, 0.9) !important;
    }
  }

  .mysr-form-input {
    min-height: 41px !important;
    background-color: transparent !important;
    border: solid 1px $inputBorderColor !important;
    padding: 24px 33px !important;
    border-radius: $mainBorderRadius !important;
    outline: none !important;
    width: 100% !important;
    font-size: 14px !important;
    color: $headingMainColor !important;
    transition: 0.5s !important;
    box-shadow: none !important;
    direction: rtl !important;
    
    @include dir {
      direction: ltr !important;
    }

    &:focus,
    &:hover {
      border-color: $primaryColor !important;
    }

    &:focus,
    &:active {
      &::placeholder {
        opacity: 0 !important;
      }
    }
  
    &::placeholder {
      font-size: 14px !important;
      font-weight: 600 !important;
      color: $placeholderColor !important;
      transition: 0.5s !important;
      opacity: 1 !important;
    }
  }

  .mysr-form-ccIconsGroup {
    right: unset;
    left: 10px;
    width: fit-content !important;
    
    @include dir {
      left: unset;
      right: 10px;
    }
  }

  .mysr-form-cardInfoElement {
    margin-bottom: 15px !important;
  }

  .mysr-form-cardInfoElement:nth-child(2) {
    gap: 15px;

    input {
      max-width: calc(50% - 8px);
    }
  }

  .mysr-form-footer {
    display: none !important;
  }
}

.register_done {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: $greenColor;
  font-size: 18px;
  font-weight: 700;

  .icon__ {
    max-width: 30px;
    max-height: 30px;
  }
}