.our_services_card__ {
  background-color: rgba($secondaryColor,0.13);
  border-radius: $mainBorderRadius;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  
  .img_wrapper {
    border-radius: $mainBorderRadius;
    overflow: hidden;
    
    .figure__ {
      padding-bottom: 143.07%;
    }
  }
  
  .description_wrapper__ {
    padding: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xs {
      padding: 20px 10px;
    }
  }

  .title__ {
    margin: 0;
    color: $headingMainColor;
    font-size: 16px;
    font-weight: 800;
    transition: 0.5s;

    @include xs {
      font-size: 12px;
      font-weight: 600;
    }
  }
  
  .icon__ {
    height: 36px;
    width: 36px;
    padding: 10px 8px;
    background-color: rgba(#aaa , 0.4);
    border-radius: 50%;
    transition: 0.5s;

    @include xs {
      height: 20px;
      width: 20px;
      padding: 5px;
    }

    @include dir {
      transform: rotate(180deg);
    }
  }
  
  &:hover {
    text-decoration: none;
    background-color: rgba($primaryColor,0.13);
    
    .figure__ {
      .img-om {
        transform: scale(1.1);
      }
    }

    .icon__ {
      filter: brightness(0);
    }
  }
}