.our_partners_and_clients_card__ {
  border-radius: $mainBorderRadius;
  box-shadow: $mainShadowColor;
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  padding: 32px 38px;
  padding-top: 0;

  .icon_wrapper {
    background-color: $primaryColor;
    width: 104px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -52px;
    margin-bottom: 20px;
  }

  .title__ {
    font-size: 17px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 22px;
    text-align: center;
    text-transform: capitalize;
  }

  .parag__ {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
    line-height: 30px;
  }
}