.payment_details__ {
  margin-top: 27px;

  .title__ {
    font-size: 20px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 36px;
    background-color: #eee;
    height: 55px;
    padding: 12px 43px;
    border-radius: 15px;
  }

  .price_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    font-size: 17px;
    font-weight: 400;
    color: $paragraphMainColor;

    &:not(:last-child) {
      margin-bottom: 33px;
    }

    .price__ {
      color: $headingMainColor;

    }
    .currency__ {
      color: $paragraphMainColor;
      font-size: 14px;
    }

    &.total_price {
      .price__,
      .currency__ {
        color: $primaryColor;
      }
    }
  }
}