.profle_page_links_wrapper__ {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;

  @include md {
    grid-template-columns: repeat(3, 1fr);
  }

  @include xs {
    grid-template-columns: repeat(2, 1fr);
  }

  @include xxs {
    grid-template-columns: repeat(1, 1fr);
  }
}

.profile_page_link {
  background-color: rgba($primaryColor, 0.04);
  border-radius: $fourthBorderRadius;
  padding: 65px 26px;
  display: flex;
  flex-direction: column;
  position: relative;
  
  .icon__ {
    margin-bottom: 35px;
    transition: 0.5s;
  }

  .title__ {
    color: $primaryColor;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 17px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
  }
  
  .parag__ {
    font-size: 16px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
    text-align: center;
    transition: 0.5s;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    border-radius: $fourthBorderRadius;
    width: 100%;
    height: 0;
    background-color: $primaryColor;
    left: 0;
    z-index: -1;
    transition: 0.5s;
  }

  &:hover {

    .title__,
    .parag__ {
      color: #fff;
    }

    .icon__ {
      filter: brightness(0) invert(1);
    }

    &::before {
      height: 100%;
    }
  }
}
