.plan_details_card__ {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #fff;
  padding: 30px 25px;
  border-radius: $thirdBorderRadius;
  width: 100%;
  border: 1px solid rgba(#707070, 0.16);

  .figure__ {
    width: 88px;
    max-width: 88px;
    justify-content: center;
  }

  .title__ {
    font-size: 17px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin-bottom: 13px;
  }

  .sub_title__ {
    font-size: 18px;
    font-weight: 700;
    color: $headingMainColor;
    margin: 0;

    &.with_margin_bottom__ {
      margin-bottom: 10px;
    }
  }

  .parag__ {
    font-size: 12px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
  }
  
  .package_duration_title__ {
    font-size: 16px;
    font-weight: 400;
    color: $primaryColor;
    margin: 0;
  }


}

.plan_details_card_plan_duration_card__ {
  width: 100%;
  background-color: #F3F3F3;
  border-radius: $thirdBorderRadius;
  overflow: hidden;

  .inputs_wrapper {
    padding: 20px 42px;
  }
}

.time_block__ {
  .title__ {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    &::before {
      content: url(../images/shapes/time_block_icon__.svg);
    }
  }

  .info__ {
    font-size: 14px;
    font-weight: 400;
    color: $headingMainColor;
    margin: 0;
  }
}