.plan_and_subscription_details_wrapper__ {
  display: flex;
  align-items: center;
  background-color: rgba(#FFA732 , 0.08);
  padding: 20px 40px;
  border-radius: $thirdBorderRadius;
  margin-bottom: 15px;

  @include sm {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .icon__ {
    max-width: 66px;
    max-height: 66px;
    margin-inline-end: 15px;
  }

  .description_wrapper__ {
    margin-inline-end: 75px;

    @include sm {
      margin: 0;
    }

    .title__ {
      font-size: 17px;
      font-weight: 400;
      color: $headingMainColor;
      margin-bottom: 10px;

      @include sm {
        text-align: center;
      }
    }

    .plan_info__ {
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      color: $yellowColor;

      @include sm {
        text-align: center;
      }
    }
  }

  .inputs_wrapper__ {
    margin: 0;
    gap: 43px;

    .title__ {
      &::before {
        filter: grayscale(1);
      }

      &.without_filter__ {
        &::before {
          filter: unset !important;
        }
      }

      &.subscription_freezed_time__ {
        &::before {
          content: url(../images/shapes/minus-cirlce-linear.svg);
        }
      }
    }
  }
}