.plan_details_wrapper__ {
  >.title__ {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: $paragraphMainColor;
    background-color: $thirdGreyColor;
    border-radius: $thirdBorderRadius $thirdBorderRadius 0 0;
    width: fit-content;
    padding: 14px 43px;
  }

  .plan_details__ {
    background-color: rgba($fourthGreyColor, 0.07);
    border: 1px solid rgba($fourthGreyColor, 0.07);
    padding: 43px 16px;
    border-radius: $thirdBorderRadius;
    border-top-right-radius: 0;
    
    @include dir {
      border-top-right-radius: unset;
      border-top-left-radius: 0;
    }
  }

  .cards_wrapper__{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}