.program_block__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($primaryColor , 0.05);
  border-radius: $mainBorderRadius;
  padding: 40px 15px;
  padding-inline-end: 30px;
  position: relative;
  overflow: hidden;

  @include xs {
    flex-direction: column;
  }

  .img_wrapper {
    flex-shrink: 0;
    width: 246px;
    margin-inline-end: 35px;
    

    @include sm {
      width: 170px;
      margin-inline-end: 0;
    }

    @include xs {
      margin-bottom: 15px;
    }
  }

  .figure__ {
    padding-bottom: 92.68%;
  }

  .description__ {
    margin-inline-end: 33px;

    @include xs {
      margin: 0;
    }
  }
  
  .title__ {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 13px;
    color: $headingMainColor;

    @include xs {
      text-align: center;
    }
  }

  .sub_title__ {
    font-size: 19px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin-bottom: 30px;
    
    @include xs {
      text-align: center;
    }
  }

  .links_group {
    @include xs {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  .price_wrapper {
    .title__ {
      font-size: 20px;
      font-weight: 400;
      color: $headingMainColor;

      @include dir {
        font-size: 16px;
        max-width: 100px;
      }
    }
  }

  .price__ {
    font-size: 70px;
    font-weight: 800;
  }
  
  .currency__ {
    color: $headingMainColor;
    font-size: 29px !important;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    inset-inline-end: -165px;
    transform: translateY(-50%);
    height: 100%;
    width: 346px;
    background-color: rgba($primaryColor , 0.1);
    border-radius: 50%;

    @include xs {
      top: unset;
      transform: unset;
      inset-inline-end: unset;
      bottom: -125px;
      left: 50%;
      transform: translateX(-50%);
      width: 150%;
      height: 346px;
    }

  }
}