.request_card__ {
  display: flex;
  align-items: center;
  box-shadow: $mainShadowColor;
  padding: 30px 40px;
  border-radius: $mainBorderRadius;

  .request_card_wrapper__ {
    min-width: 100%;
  }

  .img_block__ {
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 100%;
  }

  .figure__ {
    padding-bottom: 94.166%;
    border-radius: $thirdBorderRadius;
    overflow: hidden;
  }

  .card_description__ {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    width: 100%;

    @include xxs {
      justify-content: center;
      align-items: center;
    }
  }

  .info_block__ {
    width: 50%;
    
    @include xxs {
      width: 100%;
    }
  }
  
  .price__ {
    font-weight: 800;
    gap: 5px;
  }
  
  .currency__ {
    font-weight: 300;
  }

  &:hover {
    text-decoration: none;

    .img-om {
      transform: scale(1.15);
    }
  }
}