.shape__ {
  position: absolute;
  background-color: $primaryColor;
  border: 10px solid #fff;
  border-radius: 50%;
  animation: scaleInAndOut 4s infinite;
  opacity: 0.24;

  &:nth-of-type(1) {
    width: 172px;
    height: 172px;
    top: 0;
    inset-inline-start: calc(-172px / 2);
  }

  &:nth-of-type(2) {
    width: 44px;
    height: 44px;
    border-width: 5px;
    bottom: 60px;
    inset-inline-start: 40%;
  }

  &:nth-of-type(3) {
    width: 44px;
    height: 44px;
    border-width: 5px;
    top: 60px;
    inset-inline-end: 15%;
  }
}

.calories_calculator__ {
  .shape__ {
    background-color: transparent;
    border-color: $primaryColor;

    &:nth-of-type(2) {
      width: 40px;
      height: 40px;
      inset-inline-start: 3%;
    }

    &:nth-of-type(3) {
      width: 88px;
      height: 88px;
      top: unset;
      bottom: 25px;
      inset-inline-end: -40px;
    }

    &:nth-of-type(4) {
      width: 56px;
      height: 56px;
      border-width: 5px;
      top: 50px;
      inset-inline-start: 40%;
    }
  }
}
.instgram_gallery {
  .shape__ {
    background-color: transparent;
    border-color: $primaryColor;
    width: 44px;
    height: 44px;
    border-width: 5px;

    &:nth-of-type(1) {
      top: 85px;
      inset-inline-start: 25%;
    }

    &:nth-of-type(2) {
      bottom: unset;
      top: 230px;
      inset-inline-start: 35%;
    }

    &:nth-of-type(3) {
      top: 85px;
      inset-inline-end: 35%;
      border-width: 10px;
    }
    
    &:nth-of-type(4) {
      top: 230px;
      inset-inline-end: 25%;
    }
  }
}