.subscription_progress_wrapper__ {
  min-width: 185px;
  
  .title_wrapper__ {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;

    @include xs {
      justify-content: center;
    }
  }

  .title__ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 3px;
    font-size: 16px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
  }

  .sub_title__ {
    font-size: 13px;
    color: $orangeColor;
  }
  
  .num__ {
    font-size: 41px;
    font-weight: 700;
    color: $orangeColor;
  }

  .subscription_progress__ {
    background-color: rgba($orangeColor , 0.15);
    height: 6px;
    width: 100%;
    max-width: 185px;
    position: relative;
    border-radius: $secondaryBorderRadius;
  }

  .progress__ {
    position: absolute;
    height: 100%;
    top: 0;
    inset-inline-start: 0;
    background-color: rgba($orangeColor , 1);
    border-radius: $secondaryBorderRadius;
  }
}