.total_payment_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $greyColor;
  padding: 28px 44px;
  border-radius: $thirdBorderRadius;
  margin-bottom: 35px;

  .title__ {
    color: $paragraphMainColor;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .sub_title__ {
    font-size: 17px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
  }

  .price__ {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
  }

  .currency__ {
    font-size: 23px;
    margin: 0;
    text-align: end;
    width: 100%;
  }
}